body {
   --low: 20.5%;
   --high: 80.5%;
   --range-color: rgba(255,105,0, 1);
   --track-background: linear-gradient(to right, transparent var(--low), var(--range-color) 0, var(--range-color) var(--high), transparent 0) no-repeat 0 100% / 100% 100%;
   
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
}

.slider-container {
   position: relative;
   width: 150px;
}

/* Overlay two inputs/sliders */
.slider {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
}

.slider input {
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 100%;
   height: 10px;
   border: none;
   background: transparent;
   outline: none;
   -webkit-transition: 0.2s;
   transition: opacity 0.2s;
   pointer-events: none;
   z-index: 100;
}

/* Target the Track */
.slider input::-webkit-slider-runnable-track {
   cursor: default;
   height: 18px;
   outline: 0;
   -webkit-appearance: none;
}

.slider input::-moz-range-track {
   cursor: default;
   -moz-appearance: none;
   outline: 0;
   height: 0;
}

/* Target the Thumbnail */
.slider input::-webkit-slider-thumb {
   -webkit-appearance: none; /* Resets appearance so we can apply backgrounds etc */
   appearance: none;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background: var(--range-color);
   cursor: pointer;
   pointer-events: auto;
   margin-top: 0; /* alignment fix for Chrome */
}

.slider input::-moz-range-thumb {
   -moz-appearance: none;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background: var(--range-color);
   cursor: pointer;
   pointer-events: auto;
   margin: 0;
}

.slider input::-ms-thumb {
   margin: 0;
}
.slider label {
   margin-bottom: 4px;
}

.slider--max label {
   align-self: flex-end;
}







/* Overlay two inputs/sliders */
.slider2 {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
}

.slider2 input {
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 100%;
   height: 10px;
   border: none;
   background: transparent;
   outline: none;
   -webkit-transition: 0.2s;
   transition: opacity 0.2s;
   pointer-events: none;
   z-index: 100;
}

/* Target the Track */
.slider2 input::-webkit-slider-runnable-track {
   cursor: default;
   height: 18px;
   outline: 0;
   -webkit-appearance: none;
}

.slider2 input::-moz-range-track {
   cursor: default;
   -moz-appearance: none;
   outline: 0;
   height: 0;
}

/* Target the Thumbnail */
.slider2 input::-webkit-slider-thumb {
   -webkit-appearance: none; /* Resets appearance so we can apply backgrounds etc */
   appearance: none;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background: var(--range-color);
   cursor: pointer;
   pointer-events: auto;
   margin-top: 0; /* alignment fix for Chrome */
}

.slider2 input::-moz-range-thumb {
   -moz-appearance: none;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background: var(--range-color);
   cursor: pointer;
   pointer-events: auto;
   margin: 0;
}

.slider2 input::-ms-thumb {
   margin: 0;
}
.slider2 label {
   margin-bottom: 4px;
}








/* Overlay two inputs/sliders */
.slider3 {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
}

.slider3 input {
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 100%;
   height: 10px;
   border: none;
   background: transparent;
   outline: none;
   -webkit-transition: 0.2s;
   transition: opacity 0.2s;
   pointer-events: none;
   z-index: 100;
}

/* Target the Track */
.slider3 input::-webkit-slider-runnable-track {
   cursor: default;
   height: 18px;
   outline: 0;
   -webkit-appearance: none;
}

.slider3 input::-moz-range-track {
   cursor: default;
   -moz-appearance: none;
   outline: 0;
   height: 0;
}

/* Target the Thumbnail */
.slider3 input::-webkit-slider-thumb {
   -webkit-appearance: none; /* Resets appearance so we can apply backgrounds etc */
   appearance: none;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background: var(--range-color);
   cursor: pointer;
   pointer-events: auto;
   margin-top: 0; /* alignment fix for Chrome */
}

.slider3 input::-moz-range-thumb {
   -moz-appearance: none;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background: var(--range-color);
   cursor: pointer;
   pointer-events: auto;
   margin: 0;
}

.slider3 input::-ms-thumb {
   margin: 0;
}
.slider3 label {
   margin-bottom: 4px;
}







/* Absolute positions progress */
.slider-progress {
   height: 8px;
   width: 100%;
   position: absolute;
   left: 0;
   bottom: -13px;
   background: var(--track-background);
   z-index: 1;
}

.slider--max::after {
   content: "";
   height: 8px;
   background: #ccc;
   border-radius: 5px;
   position: absolute;
   bottom: -13px;
   width: 100%;
   z-index: -1;
}

/* CSS only dropdown */
.filter-demo li {
   cursor: pointer;
   display: inline-block;
   transition-duration: 0.5s;
}

.filters-demo li:hover {
   cursor: pointer;
}

.filters,
.dropdown {
   margin: 0;
   padding: 0;
}

.filters li:hover .dropdown, 
.filters li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
}

.filters > li {
   border: solid 1px #ddd;
   border-top: var(--range-color) 2px solid;
   box-shadow: 3px 3px 8px 1px #aaa;
   color: black;
/*    font-weight: 700; */
   padding: 8px 16px;
}

.filters > li a:after {
   content: ' \25BC';
   font-size: 0.7em;
}

.filters > li:hover a:after {
   content: ' \25B2';
}

.dropdown {
   color: black;
   font-weight: 400;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s ease;
   margin-top: 8px;
   min-height: 100px;
   display: none;
}

.dropdown li {
   clear: both;
   width: 100%;
}